@import "../variables.scss";
@import "../mixins.scss";

.promo {
  background-color: $color-default-white;
}

.promo__container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  padding: 120px 0 107px;

  @include vp-1200 {
    padding: 101px 45px;
    justify-content: center;
  }

  @include vp-767 {
    padding: 71px 15px 64px;
    display: block;
  }
}

.promo__image-container {
  flex-shrink: 0;
  background-color: #000146;
  display: flex;
  align-items: center;

  @include vp-767 {
    display: block;
  }
}

.promo__image-container img {
  @include vp-1200 {
    width: 386px;
    height: 292px;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
  }
}

.promo__text-container {
  background-color: $color-torch-red;
  padding: 81px 73px 10px 77px;
  display: grid;
  grid-template-columns: 201px 100px;
  grid-template-rows: repeat(3, min-content);
  column-gap: 50px;

  @include vp-1200 {
    grid-template-columns: 117px 60px;
    padding: 47px 42px 10px 45px;
    column-gap: 29px;
  }

  @include vp-767 {
    justify-content: center;
    padding-bottom: 49px;
  }
}

.promo__text-container p {
  grid-column: 1 / -1;
  margin: 0 0 49px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: $color-default-white;

  @include vp-1200 {
    font-size: 12px;
    margin-bottom: 32px;
  }
}

.promo__text-container h3 {
  margin: 7px 0 0 14px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 82px;
  line-height: 96%;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1200 {
    font-size: 48px;
    margin: 5px 0 0 8px;
  }
}

.promo__link {
  grid-column: 1 / -1;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: transparent;
  text-align: center;
  border: 4px solid $color-default-white;
  padding: 24px 10px;
  justify-self: left;
  min-width: 346px;

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 2px solid $color-default-black;
  }

  @include vp-1200 {
    font-size: 10px;
    line-height: 12px;
    min-width: 202px;
    border: 2px solid $color-default-white;
    padding: 13px 10px;
  }
}

.promo__date-container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 22px;

  @include vp-1200 {
    gap: 6px;
    margin-bottom: 8px;
  }
}

.promo__date-wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 10px;

  @include vp-1200 {
    row-gap: 5px;
  }
}

.promo__date-wrapper-title {
  position: relative;
  grid-column: 1 / -1;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: $color-default-white;
    bottom: -5px;
  }

  @include vp-1200 {
    font-size: 12px;

    &::after {
      bottom: -2px;
    }
  }
}

.promo__date-wrapper-value {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: $color-default-white;
  margin-right: 7px;

  &--time {
    margin-right: 0;
  }

  @include vp-1200 {
    font-size: 24px;
    margin-right: 4px;
  }
}

.promo__date-wrapper-description {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-default-white;
  align-self: center;

  @include vp-1200 {
    font-size: 10px;
    line-height: 120%;
  }
}
