@import "../variables.scss";
@import "../mixins.scss";

.tabs {
  max-width: 100%;
}

.tabs__controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 46px;
  margin: 0 auto 39px;
  padding-bottom: 12px;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 341px;
    background-color: rgba(120, 120, 120, 0.2);
    bottom: 0;
  }

  @include vp-1200 {
    padding: 0 55px 12px;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 45px;

    &::after {
      width: calc(100% - 110px);
    }
  }

  @include vp-767 {
    padding: 0 0 12px;
    margin-bottom: 35px;

    &::after {
      width: 100%;
    }
  }
}

.tabs__control {
  position: relative;
  cursor: pointer;
  margin: 0;
  min-width: auto;
  justify-content: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  border: none;
  background-color: transparent;
  padding: 0;

  &.is-active {
    color: $color-sapphire;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: -12px;
      background-color: #D10A42;
    }
  }

  @include vp-1200 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.tabs__content {
  margin-bottom: 40px;

  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1200 {
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.tabs__element-wrapper {
  min-width: 360px;
  padding: 64px 14px 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
  z-index: 1;

  @include hover {
    padding: 57px 7px 61px;
    border: 7px solid transparent;
    border-image: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%) 1;
  }

  @include vp-767 {
    min-width: 0;
    padding: 51px 14px 56px;

    &:active {
      padding: 48px 7px;
      border: 7px solid transparent;
      border-image: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%) 1;
    }
  }
}

.tabs__element-wrapper h3 {
  margin: 0 0 8px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: $color-sapphire;

  @include vp-767 {
    font-size: 22px;
    line-height: 110.16%;
    margin-bottom: 8px;
  }
}

.tabs__element-wrapper {
  h3+span {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-sapphire;
    margin-bottom: 66px;

    @include vp-767 {
      margin-bottom: 42px;
    }
  }
}

.tabs__element-wrapper p {
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: $color-egyptian-blue;
  margin: 0;

  &::before {
    content: attr(data-parent);
  }

  &::after {
    content: attr(data-parent);
    position: absolute;
    left: -19px;
    top: -52px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color: rgba(232, 232, 232, 0.48);
    z-index: -1;
  }

  @include vp-767 {
    &::before {
      font-size: 48px;
    }

    &::after {
      font-size: 80px;
      left: -17px;
      top: -31px;
    }
  }
}

.tabs__element-container {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 35px;

  @include vp-767 {
    gap: 10px;
    margin-bottom: 21px;
  }
}

.tabs__element-container svg {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.tabs__element-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-sapphire;
  text-transform: uppercase;
  min-width: 206px;
  padding: 25px 10px;
  outline: 2px solid $color-sapphire;
  outline-offset: -2px;

  @include hover {
    outline: none;
    color: $color-default-white;
    background-image: $button-gradient;
  }

  @include focus {
    outline: 2px solid $color-torch-red;
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
